@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 2px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }

    to {
        text-shadow: 0 0 5px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

html {
    height:100%
}
body {
    height:100%;
    margin: 0;
    text-align:center;
}

ul {
    list-style-type: none;
}

li:not(:last-child) {
    margin-bottom: 5px;
}

h3 {
    font-family: 'SF Sports Night', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
    text-align: center;
    color: #9AABD8;
    margin: auto;
}

.name-container {
    margin-top: 45px;
    margin-bottom: 4.5px;
    padding-top: 10px;
    padding-bottom: 10px;
    outline: 5px solid #9AABD8;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.name-container-winning {
    margin-top: 45px;
    margin-bottom: 4.5px;
    padding-top: 10px;
    padding-bottom: 10px;
    outline: 7px solid #8b0000;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 0 50px #8b0000;
}

.main {
    height: 100%;
    background: #1B244A;
    display: flex;
    flex-direction:column;
    align-items: center;

}

.container {
    margin-top: 100px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    background: black;
    padding: 210px 0px 0px 0px;
    border-radius: 20px;
    border: 10px solid #9AABD8;
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}


.controls-container {
    position: relative;
}

.timer-container {
    outline: 8px solid #9AABD8;
    position: absolute;
    top: -14%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    background: #080001;
    border-radius: 10px;
    border-radius: 20px;
    width: 450px;
}


.timer {
    margin: 0;
    font-family: 'Cursed Timer ULiL';
    color: #ff0000;
    font-style: normal;
    font-weight: 400;
    font-size: 120px;
    text-align: center;
    padding: 10px 10px 0px 10px;
    text-shadow: 0 0 15px #ff0000;
}

.vl {
    margin-top: 40px;
    border-left: 6px solid green;
    border: 4px solid #009999;
    border-radius: 5px;
    box-shadow: 0 0 10px #009999;
    height: 308px;
}

.middle-button {
    margin-top: 70px;
    white-space:nowrap;
    font-family: 'Division One', sans-serif;
    font-style: italic;
    border: 4px solid #9AABD8;
    border-radius: 5px;
    height: 45px;
    width: 150px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #9AABD8;
    background-color: transparent;
}

#new-game-button {
    color: #9AABD8;
    text-shadow: 0 0 5px #04e0e0;
}

#clear-button {
    color: #9AABD8;
    text-shadow: 0 0 5px #04e0e0;
}

.pause-button-container {
    position: absolute;
    left: -550%
}

#pause-button {
    width: 100px;
    color: #9AABD8;
    text-shadow: 0 0 5px #04e0e0;;
}

.middle-button:hover {
    background: rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px #9AABD8;
}

.team-container {
    padding:0px 60px 50px 60px;
    text-align:center;
}

.score-container {
    text-align: center;
    background: #080001;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    outline: 5px solid #9AABD8;
}
.score-container-winning {
    text-align: center;
    background: #080001;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    outline: 7px solid #8b0000;
    box-shadow: 0 0 50px #8b0000;
}

.score-button {
    box-sizing: border-box;
    font-family: 'Cursed Timer ULiL', sans-serif;
    border: 3px solid #9AABD8;
    border-radius: 5px;
    height: 50px;
    width: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #9AABD8;
    background-color: transparent;
    margin:3px;
    margin:4px;
    margin-top: 30px;

}
.score-button:hover {
    background: rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px #9AABD8;
}

.score {
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    text-align: center;
    color: #009999;
    padding: 10px 10px 0px 10px;
    margin-top: auto;
    margin-bottom: 30px;
    text-shadow: 0 0 15px #009999;
}

.score-log-text {
    position: absolute;
    margin: 0;
    position: absolute;
    top: 105%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

.rule-top {
    margin: 0;
    position: absolute;
    top: 73%;
    left: -2870%;
    width: 460px;
    border: 4px solid #009999;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px #009999;
}

.rule {
    margin: 0;
    position: absolute;
    top: 110%;
    left: -2870%;
    width: 460px;
    border: 4px solid #009999;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px #009999;
}

.logs-container {
    text-align: center;
    display: flex;
    justify-content: space-around;
    background: black;
    max-width: 1200px;
    padding: 20px 0px 0px 0px;
    border-radius: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: 10px solid #9AABD8;
    border-top: none;
}

.score-record-container {
    color: white;
    padding-right:30px;
    margin-bottom: 20px;
    margin-top: 40px;
    width: 200px;
}

.logs {
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-style: normal;
    font-size: 20px;
    text-align: center;
}